<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="row mb-2">
        <div class="col">
          <h1 class="h4">Private Box</h1>
        </div>
      </div>
      <cards [cards]="items"></cards>
    </div>
  </div>
</div>
