<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" [routerLink]="['/']"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
    <li class="nav-item px-1">
      <a class="nav-link" [routerLink]="['/secure/dashboard']">Dashboard</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown hidden-md-down" dropdown (onToggle)="toggled($event)">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle [addToggleClass]="false">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">5</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" dropdownMenu aria-labelledby="simple-dropdown">

        <div class="dropdown-header text-center">
          <strong>You have 5 notifications</strong>
        </div>

        <a href="#" class="dropdown-item">
          <i class="icon-user-follow text-success"></i> New user registered
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-user-unfollow text-danger"></i> User deleted
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-chart text-info"></i> Sales report is ready
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-basket-loaded text-primary"></i> New client
        </a>
        <a href="#" class="dropdown-item">
          <i class="icon-speedometer text-warning"></i> Server overloaded
        </a>

        <div class="dropdown-header text-center">
          <strong>Server</strong>
        </div>

        <a href="#" class="dropdown-item">
          <div class="text-uppercase mb-q">
            <small><b>CPU Usage</b>
            </small>
          </div>
          <span class="progress progress-xs">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </span>
          <small class="text-muted">348 Processes. 1/4 Cores.</small>
        </a>
        <a href="#" class="dropdown-item">
          <div class="text-uppercase mb-q">
            <small><b>Memory Usage</b>
            </small>
          </div>
          <span class="progress progress-xs">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </span>
          <small class="text-muted">11444GB/16384MB</small>
        </a>
        <a href="#" class="dropdown-item">
          <div class="text-uppercase mb-q">
            <small><b>SSD 1 Usage</b>
            </small>
          </div>
          <span class="progress progress-xs">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </span>
          <small class="text-muted">243GB/256GB</small>
        </a>

      </div>
    </li>
    <li class="nav-item hidden-md-down">
      <a class="nav-link" [routerLink]="['/secure/profile']">
        <span class="hidden-md-down">Kate</span>
        <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="Kate@bootstrapmaster.com">
      </a>
    </li>
    <li class="nav-item dropdown hidden-md-down" dropdown (onToggle)="toggled($event)">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle [addToggleClass]="false">
        <i class="icon-settings"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" dropdownMenu aria-labelledby="simple-dropdown">

        <a class="dropdown-item" data-toggle="modal" (click)="showModal()">
          <i class="icon-settings"></i>
          Settings
        </a>
        <a class="dropdown-item" (click)="onLogout()">
          <i class="icon-logout"></i>
          Logout
        </a>

      </div>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav" *ngIf="showDashboardMenu">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/secure/dashboard']">
            <i class="fa fa-gear fa-lg"></i>
            Dashboard
            <span class="badge badge-info">NEW</span>
          </a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/secure/feed']" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-home fa-lg"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/secure/feed/favorites']">
            <i class="fa fa-star fa-lg"></i>
            Favorites
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/secure/feed/private']">
            <i class="fa fa-lock fa-lg"></i>
            Private Box
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/secure/feed/later']">
            <i class="fa fa-bookmark fa-lg"></i>
            Read Later
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/secure/feed/followers']">
            <i class="fa fa-group fa-lg"></i>
            Followers
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a [routerLink]="['/']">Wanted</a>
  &copy; 2017 SoftLogic, LLC
</footer>

<settings></settings>