<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <div class="col mx-2 mb-2 text-center">
              <a [routerLink]="['/']">
                <img src="assets/img/logo.png" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="card mx-2">
            <div class="card-block p-2">
              <h2 class="card-title">Forgot Password</h2>
              <div class="alert alert-danger" *ngIf="errorMessage != null">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="code">Verification Code</label>
                <input type="number" min="0" class="form-control" id="code" placeholder="Verification Code" required [(ngModel)]="code" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" maxlength="25" class="form-control" id="password" placeholder="New password" required [(ngModel)]="password" [ngModelOptions]="{ standalone: true }">
              </div>
              <button (click)="onNext()" type="submit" class="btn btn-info btn-block">Reset Password</button>
              <hr>
              <a [routerLink]="['../password']">
                <i class="fa fa-fw fa-arrow-left"></i>
                Go back
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
