<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <div class="col mx-2 mb-2 text-center">
              <a [routerLink]="['/']">
                <img src="assets/img/logo.png" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="card mx-2">
            <div class="card-block p-2">
              <h2 class="card-title">Forgot Password</h2>
              <div class="alert alert-danger" *ngIf="errorMessage != null">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" maxlength="50" class="form-control" id="email" placeholder="Email" required [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" required>
              </div>
              <button (click)="onNext()" type="submit" class="btn btn-info btn-block">Next</button>
              <hr>
              <a [routerLink]="['../register']">
                <i class="fa fa-fw fa-user-plus"></i>
                Register
              </a>
              <a [routerLink]="['../']">
                <i class="fa fa-fw fa-user"></i>
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
