<div bsModal #settingsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h4">Settings</h1>
        <button type="button" class="close" (click)="settingsModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2 class="h5">Notifications</h2>
        <form>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">New Follower</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="website" value="website" [(ngModel)]="websiteFollower" [ngModelOptions]="{ standalone: true }">
                  Notify on website
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="email" value="email" [(ngModel)]="emailFollower" [ngModelOptions]="{ standalone: true }">
                  Notify by e-mail
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Linked Post</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="website2" value="website2" [(ngModel)]="websitePost" [ngModelOptions]="{ standalone: true }">
                  Notify on website
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="email2" value="email2" [(ngModel)]="emailPost" [ngModelOptions]="{ standalone: true }">
                  Notify by e-mail
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">New Comment</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="website3" value="website3" [(ngModel)]="websiteComment" [ngModelOptions]="{ standalone: true }">
                  Notify on website
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="email3" value="email3" [(ngModel)]="emailComment" [ngModelOptions]="{ standalone: true }">
                  Notify by e-mail
                </label>
              </div>
            </div>
          </div>
        </form>
        <hr>
        <h2 class="h5">Privacy</h2>
        <form>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Account Type</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="account" id="public" value="public" [(ngModel)]="type" [ngModelOptions]="{ standalone: true }">
                  Public
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="account" id="private" value="private" [(ngModel)]="type" [ngModelOptions]="{ standalone: true }">
                  Private
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mx-auto" (click)="onSaveSettings()">Save Settings</button>
      </div>
    </div>
  </div>
</div>