<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <a class="d-block mx-2 mb-2 text-center" [routerLink]="['/']">
            <img src="assets/img/logo.png" class="img-fluid">
          </a>
          <div class="card mx-2">
            <div class="card-block p-2">
              <h1 class="card-title">Resend Code</h1>
              <div class="alert alert-danger" *ngIf="errorMessage != null">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="email" [ngModelOptions]="{ standalone: true }">
              </div>
              <button type="button" class="btn btn-block btn-success" (click)="onResend()">Resend</button>
              <hr>
              <a [routerLink]="['../confirm']">
                <i class="fa fa-fw fa-arrow-left"></i>
                Go back
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>