<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="row">
            <div class="col mx-2 mb-2 text-center">
              <a [routerLink]="['/']">
                <img src="assets/img/logo.png" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="card-group mb-0">
            <div class="card p-2">
              <div class="card-block">
                <h1 class="card-title">Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="alert alert-danger" *ngIf="errorMessage != null">
                  {{ errorMessage }}
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" maxlength="100" class="form-control" id="username" placeholder="Username" required [(ngModel)]="username" [ngModelOptions]="{ standalone: true }">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" maxlength="25" class="form-control" id="password" placeholder="Password" required [(ngModel)]="password" [ngModelOptions]="{ standalone: true }">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary px-2" (click)="onLogin()">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0" [routerLink]="['password']">Forgot password?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
              <div class="card-block text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-1" [routerLink]="['register']">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
