<div class="animated fadeIn">
  <div class="row">
    <div class="col text-center">
      <div class="row mb-2">
        <div class="col text-left">
          <h1 class="h4">Who to Follow</h1>
        </div>
      </div>
      <h2 class="h5 mb-1">Your friends on Wanted</h2>
      <button type="button" class="btn btn-facebook mb-2" type="button">
        <span>Connect your Facebook account</span>
      </button>
      <h2 class="h5 mb-2">People with similar interests</h2>
      <follower-cards [followers]="items"></follower-cards>
      <div class="row mb-2">
        <div class="col text-center">
          <button type="button" class="btn btn-primary">Show more users</button>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col text-center">
          <button type="button" class="btn btn-primary" [routerLink]="['../']">Go to Home Feed</button>
        </div>
      </div>
    </div>
  </div>
</div>