<div class="row">
  <div class="col-sm-6 col-md-3" *ngFor="let follower of followers">
    <div class="card text-center">
      <div class="card-block">
        <img [src]="follower.image" alt="{{ follower.forename }} {{ follower.surname }}" class="img-thumbnail mx-auto d-block">
        <h2 class="card-title h5">{{ follower.forename }} {{ follower.surname }}</h2>
        <p class="card-subtitle mb-2 text-muted">{{ follower.gender }}</p>
        <button class="btn btn-success" *ngIf="follower.followed">Follow</button>
        <button class="btn btn-primary" *ngIf="!follower.followed">Unfollow</button>
      </div>
    </div>    
  </div>
</div>
