<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="row mb-2">
        <div class="col">
          <h1 class="h4 float-left">Home Feed</h1>
          <button type="button" class="btn btn-primary float-right">
            <i class="fa fa-navicon fa-fw"></i>
            Filter by interest
          </button>
        </div>
      </div>
      <cards [cards]="items"></cards>
    </div>
  </div>
</div>
