<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col mx-2 mb-2 text-center">
              <a [routerLink]="['/']">
                <img src="assets/img/logo.png" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="card mx-2">
            <div class="card-block p-2">
              <h1 class="card-title">Confirm Registration</h1>
              <div class="alert alert-danger" *ngIf="errorMessage != null">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="code">Verification Code</label>
                <input type="number" min="0" class="form-control" id="code" placeholder="Verification Code" required [(ngModel)]="code" [ngModelOptions]="{ standalone: true }">
              </div>
              <button type="button" class="btn btn-block btn-success" (click)="onConfirm()">Confirm</button>
              <hr>
              <p class="card-text">Can't find your code?</p>
              <a [routerLink]="['../resend']">
                <i class="fa fa-fw fa-envelope"></i>
                Resend Code
              </a>
              <a [routerLink]="['../register']">
                <i class="fa fa-fw fa-user-plus"></i>
                Register
              </a>
              <a [routerLink]="['../']">
                <i class="fa fa-fw fa-user"></i>
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
