<div class="animated fadeIn">
  <div class="row" *ngIf="user">
    <div class="col mb-1 mb-md-0 text-center">
      <img [src]="user.image" [alt]="user.surname" class="img-thumbnail mx-auto d-block mb-1" *ngIf="user.image">
      <i class="img-thumbnail mx-auto d-flex justify-content-center align-items-center mb-1 icon-user display-2 bg-primary" *ngIf="!user.image"></i>
      <button type="button" class="btn btn-primary" (click)="showModal()">
        <i class="fa fa-pencil fa-fw"></i>
        Update profile
      </button>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col">
          <h1 class="h3 mb-1 text-center text-md-left">{{ user.forename }} {{ user.surname }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mb-1 mb-md-0">
          <ul class="list-group">
            <li class="list-group-item">
              <template [ngIf]="!user.gender">
                <a [routerLink]="['./']" (click)="showModal()">Choose your gender</a>
              </template>
              <span class="font-weight-bold" *ngIf="user.gender">{{ user.gender }}</span>
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">Location:&nbsp;</span>
              <template [ngIf]="!user.location">
                <a [routerLink]="['./']" (click)="showModal()">Enter your location</a>
              </template>
              <template [ngIf]="user.location">
                {{ user.location }}
              </template>
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">Bio:&nbsp;</span>
              <template [ngIf]="!user.bio">
                <a [routerLink]="['./']" (click)="showModal()">Enter your bio</a>
              </template>
              <template [ngIf]="user.bio">
                {{ user.bio }}
              </template>
            </li>
          </ul>
        </div>
        <div class="hidden-md-up col-md-12 d-md-flex align-items-md-stretch justify-content-md-center">
          <div class="row">
            <div class="col mb-1 d-md-flex align-items-md-stretch">
              <button type="button" class="btn btn-success btn-block text-uppercase" [routerLink]="['following']">
                <span class="d-block h3 font-weight-bold">7</span>
                <span class="d-flex justify-content-center h6">
                  <small class="font-weight-bold">Following</small>
                </span>
              </button>
            </div>
            <div class="col mb-1 d-md-flex align-items-md-stretch">
              <button type="button" class="btn btn-info btn-block text-uppercase" [routerLink]="['followers']">
                <span class="d-block h3 font-weight-bold">2</span>
                <span class="d-flex justify-content-center h6">
                  <small class="font-weight-bold">Followers</small>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="hidden-sm-down col-md-4 d-md-flex align-items-lg-stretch justify-content-lg-center">
          <div class="row">
            <div class="col-xl-6 mb-1 mb-xl-0 d-md-flex align-items-lg-stretch">
              <button type="button" class="btn btn-success btn-block text-uppercase" [routerLink]="['following']">
                <span class="d-block h3 font-weight-bold">7</span>
                <span class="d-flex justify-content-center h6">
                  <small class="font-weight-bold">Following</small>
                </span>
              </button>
            </div>
            <div class="col-xl-6 d-md-flex align-items-lg-stretch">
              <button type="button" class="btn btn-info btn-block text-uppercase" [routerLink]="['followers']">
                <span class="d-block h3 font-weight-bold">2</span>
                <span class="d-flex justify-content-center h6">
                  <small class="font-weight-bold">Followers</small>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <div class="row mb-2">
        <div class="col">
          <button type="button" class="btn btn-primary float-right">
            <i class="fa fa-navicon fa-fw"></i>
            Filter by interest
          </button>
        </div>
      </div>
      <cards [cards]="items"></cards>
    </div>
  </div>
</div>

<update [user]="user"></update>
