<div class="animated fadeIn">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="row">
            <div class="col mx-2 mb-2 text-center">
              <a [routerLink]="['/']">
                <img src="assets/img/logo.png" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="card mx-2">
            <div class="card-block p-2">
              <h1 class="card-title">Register</h1>
              <p class="text-muted">Create your account</p>
              <div class="alert alert-danger" *ngIf="errorMessage != null">
                {{ errorMessage }}
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" required [(ngModel)]="registrationUser.name" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" required [(ngModel)]="registrationUser.email" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required [(ngModel)]="registrationUser.password" [ngModelOptions]="{ standalone: true }">
              </div>
              <div class="form-group">
                <label for="repeat">Repeat Password</label>
                <input type="password" class="form-control" id="repeat" placeholder="Repeat password" required [(ngModel)]="repeat" [ngModelOptions]="{ standalone: true }">
              </div>
              <button type="button" class="btn btn-block btn-success" (click)="onRegister()">Create Account</button>
              <hr>
              <div class="row mb-2">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button">
                    <span>facebook</span>
                  </button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button">
                    <span>twitter</span>
                  </button>
                </div>
              </div>
              <button class="btn btn-block btn-danger" type="button" [routerLink]="['/']">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
