<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h4">Update Profile</h1>
        <button type="button" class="close" (click)="updateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Email</label>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="email" placeholder="Email" [ngModel]="user?.email" (ngModelChange)="user.email = $event" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">New Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password" placeholder="New Password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label for="confirm" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Confirm Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="confirm" placeholder="Confirm Password" [(ngModel)]="confirm" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label for="forename" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="forename" placeholder="First Name" [ngModel]="user?.forename" (ngModelChange)="user.forename = $event" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label for="surname" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="surname" placeholder="Last Name" [ngModel]="user?.surname" (ngModelChange)="user.surname = $event" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label for="location" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Location</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="location" placeholder="Location" [ngModel]="user?.location" (ngModelChange)="user.location = $event" [ngModelOptions]="{ standalone: true }">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">Gender</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" id="male" value="Male" [ngModel]="user?.gender" (ngModelChange)="user.gender = $event" [ngModelOptions]="{ standalone: true }">
                  Male
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" id="female" value="Female" [ngModel]="user?.gender" (ngModelChange)="user.gender = $event" [ngModelOptions]="{ standalone: true }">
                  Female
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="bio" class="col-sm-4 col-form-label col-form-label text-primary text-sm-right">
              <span class="d-block">Bio</span>
              <small class="d-block text-muted">up to 200 characters</small>
            </label>
            <div class="col-sm-8">
              <textarea class="form-control" id="bio" rows="4" maxlength="200" placeholder="Bio" [ngModel]="user?.bio" (ngModelChange)="user.bio = $event" [ngModelOptions]="{ standalone: true }"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mx-auto" (click)="onSaveProfile()">Save Profile</button>
      </div>
    </div>
  </div>
</div>