<div class="row">
  <div class="col" *ngIf="!hasCards">
    <p class="lead text-muted">
      You don't have any links yet
    </p>
  </div>
  <template [ngIf]="hasCards">
    <div class="col-md-6 col-xl-4" *ngFor="let card of cards">
      <div class="card">
        <img class="card-img-top img-fluid" src="http://placehold.it/640x480" alt="Card image cap">
        <div class="card-block">
          <h2 class="card-title h4">Card Title</h2>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
          ea commodo consequat.
        </div>
      </div>    
    </div>
  </template>
</div>
